---
---

@import "{{ site.theme }}";
body {
  color: #0C1359;
  background-color: #FBF0EF;
}

a {
    color: #5D01CD;
    text-decoration: none;
    &:hover {
      color: #8D4EC4;
      text-decoration: none;

    }
}
.page-header {
  color:#0C1359;
  // background-color:#3623CD;
  background: linear-gradient(to bottom right, #FBF0EF 0%, #8D4EC4 40%, #CC3366 60%,#FF521B 80%, #EFAC14 100%);
//   background-image:linear-gradient(120deg,#5073B8,#A067AB);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
//   background-image: url("https://user-images.githubusercontent.com/9435304/103571271-df33b400-4eca-11eb-887b-52e3e38904e0.jpg");
// background-image: linear-gradient(0deg,rgba(1, 1, 7, 0.5), rgba(1, 1, 7, 0.5)), url("https://user-images.githubusercontent.com/9435304/103675657-7eff4980-4f80-11eb-9634-c7d10ed3818e.jpg");
//   background-image: url("https://user-images.githubusercontent.com/9435304/103680701-d7d1e080-4f86-11eb-8342-587d56d906bd.jpg");
  
}
.main-content img {
  padding: 10px;
}
.main-content h1, .main-content h2  {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #8D4EC4;
}
.main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #8D4EC4; 
}


